<template>
    <div class="col-md-6">
            <div class="card mb-5 shadow-lg" style="border:0; border-radius:20px;">
                <router-link :to="'/blog/' + blog.id">
                    <img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/500/300'" class="card-img-top"
                    style="border-radius:10px 10px 0 0;" alt="photo" height="300px">
                </router-link>
                <div class="card-body text-left m-4">
                    <h2 class="card-title"><b>{{ blog.title}}</b></h2>
                    <h5 class="text-muted">{{ blog.updated_at}}</h5>
                    <p class="card-text" style="text-align:left; margin-top: 30px;">
                        {{ blog.description}}
                    </p>
                </div>                                      
            </div>
    </div>    
</template>

<script>
// import axios from 'axios'
export default {
    name: 'Card',
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
     }),
    props : ['blog'],
}
</script>

<style scoped>
    .card {
        border:1px solid #5aa897;
    }
</style>